<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<form  method="post" action="registration">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="active" value="true"/>
    <input type="hidden" name="roles" value="ROLE_USER"/>
    <input type="hidden" name="_csrf"
           value="{{#_csrf}}{{_csrf.token}}{{/_csrf}}">
    <div><input type="submit" value="Sign In"/></div>
</form>
</div>
</body>
</html>